.sidebar {
    width: 220px;
    background-color: #343a40;
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
    padding-top: 1rem;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: blueviolet;
}
