 #top {
            background-color: blueviolet;
            color: white;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        #logo {
            /* margin-right: 60em; */
            margin: 0em 35em 0em 10em;
        }
        #nav_bar {
            display: flex;
            height: 5em;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-bottom: 1px solid black;
        }
        .nav {
            width: 500px;
            margin-right: 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav_items:hover {
            color: blueviolet;
            ;
        }

        #content {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin: 0em 0em 0em 5em;
            padding-top: 2em;
        }
        .btn {
            margin: 5em 0 0 5em;
        }
        .nav_items {
            position: relative;
            cursor: pointer;
            font-weight: 500;
        }
        .dropdown_menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: white;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            padding: 10px 0;
            min-width: 150px;
            border-radius: 4px;
            z-index: 100;
        }
        .dropdown_menu a {
            display: block;
            padding: 8px 16px;
            color: #333;
            text-decoration: none;
            font-size: 15px;
        }
        .dropdown_menu a:hover {
            background: #f0f0f0;
        }

        .dropdown:hover .dropdown_menu {
            display: block;
        }
